*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(banner.png);   
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 6%;
}
.nav_links{
    flex: 1;
    text-align: right;
}
nav img{
    width: 150px;
}
.nav_links ul li{
    display: inline-block;
    list-style: none;
    padding: 8px 12px;
    position: relative;
}
.nav_links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}
.nav_links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    display: block;
    background: #f44336;
    font-size: 22px;
    cursor: pointer;
    transition: 0.5s;
}
.nav_links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: #fff;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 12px;
}
.hero-btn{
    display: inline-block;
    color: #fff;
    text-decoration: none;
    border: 2px solid #fff;
    padding: 15px 40px;
    background: transparent;
    cursor: pointer;
    font-size: 15px;
    position: relative;
}
.hero-btn:hover{
    border: 1px solid #f44336;
    background-color: #f44336;
    transition: 1s;
}
nav .fa-solid{
    display: none;
}

@media (max-width:700px){
    .text-box h1{
        font-size: 20px;
    }
    .nav_links ul li {
        display: block;
    }
    .nav_links {
        background: #f44336;
        position: fixed;
        height: 100vh;
        width: 200px;      
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa-solid{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav_links ul{
        padding: 30px;
    }
}

/* course */

.course{
    text-align: center;
    padding: 100px;
    padding-bottom: 0px;
}
.course h1{
    font-size: 40px;
    font-weight: 600;
}
.course p{
    padding: 10px;
    color: #777;
    font-weight: 300;
    line-height: 22px;
    font-size: 14px;
}
.row{
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}
.col{
    flex-basis: 31%;
    background-color: #fff3f3;
    padding: 20px 12px;
    border-radius: 10px;
    margin-bottom: 5%;
    box-sizing: border-box;
    transition: 0.5s;
}
.course h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.col:hover{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}
@media(max-width:700px){
    .row{
        flex-direction: column;
    }
}

/*         campus          */

.campus{
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 50px;
}
.campus-row{
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}
.campus-col{
    flex-basis: 32%;
    margin-bottom: 30px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.campus-col img{
    width: 100%;
    display: block;
}
.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.layer:hover{
    background: rgba(226, 0, 0, 0.7);
}
.layer h3{
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}
.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}
.campus h1{
    font-size: 40px;
    font-weight: 600;
}
.campus p{
    padding: 10px;
    color: #777;
    font-weight: 300;
    line-height: 22px;
    font-size: 14px;
}
@media(max-width:700px){
    .campus-row{
        flex-direction: column;
    }
}


/*  Facilities  */

.facilities{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.facilities-row{
    display: flex;
    justify-content: space-between;
    margin: 5%;
}
.facilities-col{
    flex-basis: 31%;
    margin-bottom: 5%;
    text-align: left;
    border-radius: 10px;
}
.facilities-col img{
    width: 100%;
    border-radius: 10px;
}
.facilities-col p{
    padding: 0;
}
.facilities-col h3{
    text-decoration: underline;
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}
.facilities h1{
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 10px;
}
.facilities p{
    color: #777;
    font-weight: 300;
    line-height: 22px;
    font-size: 14px;

}
@media(max-width: 700px){
    .facilities-row{
        flex-direction: column;
    }
}

/*    reviews     */

.reviews{
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 50px;
}
.reviews-row{
    display: flex;
    justify-content: space-between;
    margin: 5%;
}
.reviews-col{
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    padding: 25px;
    background: #fff3f3;
    cursor: pointer;
    display: flex;
}
.reviews img{
    height: 40px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
}
.reviews-col h3{
    margin-top: 10px;
    text-align: left;
    text-decoration: underline;
}
.reviews p{
    color: #777;
    font-weight: 300;
    line-height: 22px;
    font-size: 14px;
}
.reviews-col p{
    color: #777;
    font-weight: 300;
    line-height: 22px;
    font-size: 14px;
}
.reviews h1{
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 10px;
}
.reviews-col .fa-solid{
    color: #f44336;
    font-size: 10px;
    padding-top: 20px;
}
.reviews-col .fa-regular{
    color: #f44336;
    font-size: 10px;
}
@media(max-width:700px){
    .reviews-row{
        flex-direction: column;
    }
    .reviews-col img{
        margin-left: 0px;
        margin-right: 15px;
    }
}


/*   cta   */

.cta{
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("banner2.jpg");
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}
.cta h1{
    color: #fff;
    margin-bottom: 40px;
    padding: 0;
}
@media(max-width:700px){
    .cta h1{
        font-size: 24px;
    }
}


/*  footer  */

.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}
.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}
.footer p{
    color: #777;
    font-weight: 300;
    line-height: 22px;
    font-size: 14px;
}
.icons .fa-brands{
    color: #f44336;
    margin: 0 12px;
    cursor: pointer;
    padding: 18px 0;
}
.fa-face-smile{
    color: #f44336;
}



/*    about us page*/

.sub-header{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url("background.jpg");
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}
.sub-header h1{
    margin-top: 80px;
}
.about-us{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}
.about-row{
    display: flex;
    justify-content: space-between;
    margin: 5%;
}
.about-col{
    flex-basis: 48%;
    padding: 30px 2px;
}
.about-col img{
    width: 100%;
}
.about-col h1{
    padding-top: 0;
}
.about-col p{
    padding: 15px 0 25px;
}
.about-us p{
    color: #777;
    font-weight: 300;
    line-height: 22px;
    font-size: 14px;
}
.about-us a{
    border: 1px solid black;
    color: black;
}
@media(max-width:700px){
    .about-row{
        flex-direction: column;
    }
}

/*    blog    */

.blog{
    width: 80%;
    margin: auto;
    padding: 60px 0;
}
.blog-row{
    display: flex;
    justify-content: space-between;
    margin: 5%;
}
.blog-left{
    flex-basis: 65%;
}
.blog-left img{
    width: 100%;
}
.blog-left h2{
    font-weight: 600;
    color: #222;
    margin: 30px 0;
}
.blog-left p{
    color: #777;
    font-weight: 300;
    line-height: 22px;
    font-size: 14px;
}
.blog-right{
    flex-basis: 32%;
}
.blog-right h3{
    background: #f44336;
    color: #fff;
    padding: 7px 0;
    font-size: 16px;
    margin-bottom: 20px;
}
.blog-right div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #555;
    padding: 8px;
    box-sizing: border-box;
}
.comment-box{
    border: 1px solid #ccc;
    margin: 50px 0;
    padding: 10px 20px;
}
.comment-box h3{
    text-align: left;
}
.comment-box input, .comment-box textarea{
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    background: #f0f0f0;
}
.comment-box button{
    border: 1px solid black;
    color: black;
}
@media(max-width:700px){
    .blog-row{
        flex-direction: column;
    }
}

/*  contact us */

.location{
    width: 80%;
    margin: auto;
    padding: 80px 0;
}
.location iframe{
    width: 100%;
}
.contact-us{
    width: 80%;
    margin: auto;
}
.contact-row{
    display: flex;
    justify-content: center;
    margin: 5%;
}
.contact-col{
    flex-basis: 48%;
    margin-bottom: 30px;
}
.contact-col div{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.contact-col div .fa-solid{
    font-size: 28px;
    color: #f44336;
    margin: 10px;
    margin-right: 30px;
}
.contact-col div p{
    padding: 0;
}
.contact-col div h5{
    font-size: 20px;
    margin-bottom: 5px;
    color: #555;
    font-weight: 400;
}
.contact-col input, .contact-col textarea{
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.contact-col button{
    border: 1px solid black;
    color: black;
}
@media(max-width: 700px){
    .contact-row{
        flex-direction: column;
    }
}